<div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      Home
    </a>
    <a>Become the Clown</a>
    <a>Book<a>
  </nav>
  
  <h1>Clowns for Fun!! </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  <div class="bg-image"
     style="background-image:  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))">
    <% @clowns.each do |clown| %>
      <div class="d-inline-flex p-2">
        <ul>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <li><h5 class="card-title"><%= clown.name %></h5>
                  <a href="#" class="btn btn-primary"> book</a>
              </li>

          </div>
        </ul>
      </div>
    <% end %>
  </div>
</div>
