<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= cl_image_tag("ivsr7v8d5zjsrrn5cua5",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("atptbzrxqqqd7glrygni",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("ivsr7v8d5zjsrrn5cua5",
      width: 400, height: 300, crop: :fill) %>
<% @clowns.each do |clown| %>
<ul>
<li><%= clown.name %></li>
</ul>
<% end %>
